<% provide(:title, "Show") %>
<!-- Main Content -->
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<h5 class="post-meta">Published <%= time_ago_in_words (@page.published_at) %> ago</h5>
		<p><%= markdown(@page.body) %></p>

		<hr>

		<h2>Comments</h2>
			<% @page.comments.each do |comment| %>
		<p>
			<strong>Commenter:</strong>
			<%= comment.commenter %>
		</p>

		<p>
			<strong>Comment:</strong>
			<%= comment.body %>
		</p>
		<% end %>

		<hr>

		<h2>Add a comment:</h2>
			<%= form_for([@page, @page.comments.build]) do |f| %>
		<p>
			<%= f.label :commenter %><br>
			<%= f.text_field :commenter %>
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
		<% end %>

		<%= link_to "Edit", edit_page_path(@page), class: "btn-md btn-primary btn-right" %> | <%= link_to 'Back', root_path %>
	</div>
</div> 